body {
  background-color: #eee;
  color:rgb(218, 230, 230);
  min-height: 100vh;
  font-family: $main-font, 'sans-serif';
  
  @include laptop {
    overflow: hidden;
    display: grid;
    grid-template-columns: 10% 65% 15% 10%;
    grid-template-rows: 120px 1% 1fr 200px;
  }
}
body,html {
  overflow-x: hidden; 
}

.title {
  color: black;
}

.no-scroll {
  overflow-y: hidden;
}