.contact {
  //background-color: aqua;
  height: 76vh;
  padding: 1.5rem;
  
  &__form {
    flex-direction: column;
    justify-content: space-around;
  }
}
.form-contact{
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
  //background-color: blueviolet;
  
  &__fields {
    display: flex;
    flex-direction: column;
    &__label {
      position: relative;
      left: 0;
    }
  }
  
  &__input {
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
    height:30px;
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 150px;
  }

  &__submit {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

.form__submit {
  padding:0.3rem 2rem;
}